.form-control{
  font-size: large;
  color: brown;
}
div.row {
  border: 2px solid rgb(176, 230, 197);
  margin: 5px; 
  width: fit-content;
  background-color:cadetblue
}
div.col {
  width: fit-content;

}